.overview {
  display: flex;
}

.overview nav ul {
	margin: 0;
	padding: 0;

}

.overview nav li {
	white-space: nowrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.overview > nav {
  padding-right: 2rem;
}

.overview > main {
  flex: 1;
  border-left: solid 1px #ccc;
  padding-left: 2rem;
}

.overview > main summary {
	font-weight: bold;
}
