.makerpage {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

hr {
	margin: 2em 0;
}

label {
	display: flex;
	width: 100%;
	align-items: center;
}

label > input[type="text"], label > input[type="number"], label > select, label > textarea {
	margin-left: 1em;
	width: 100%;
}

input[type="color"] {
	padding: 0 4px;
	width: 68px;
	height: 38.4px;
	box-sizing: border-box;
	align-self: flex-end;
	border-radius: 0;
}

.twoinputs {
	display: flex;
}

.twoinputs label {
	white-space: nowrap;
}

.twoinputs label + label {
	margin-left: 1em;
}

h3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}