.makerpage {
	/* max-width: 800px; */
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	display: block;
}

h1 {
	font-weight: normal;	
}

strong {
	font-weight: bold;
}

.makerpage p {
	margin: 0;
}

.makerpage label {
	margin-bottom: 0;
}

.makerpage select {
	height: 40px;
}

.makerpage h2, .makerpage h3 {
	margin: 0 0 8px 0;
}

hr {
	margin: 20px 0;
}

label {
	display: flex;
	width: 100%;
	align-items: center;
}

label > input[type="text"], label > input[type="number"], label > select, label > textarea {
	margin-left: 1em;
	width: 100%;
}

label > input[type="range"] {
	display: inline-block;
	width: 100%;
	margin: 0 16px;
}

label > input[type="range"]:focus {
	box-shadow: none;
}

label > input[type="range"] + span {
	white-space: nowrap;
}

textarea:not([rows]) {
	height: 80px;
	margin: 5px 0 10px 10px;
}

input[type="color"] {
	padding: 0 4px;
	width: 68px;
	height: 38.4px;
	box-sizing: border-box;
	align-self: flex-end;
	border-radius: 0;
}

.twoinputs {
	display: flex;
}

.twoinputs label {
	white-space: nowrap;
	flex: 1;
}

.twoinputs label + label {
	margin-left: 1em;
}

.item h3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item h3:before {
	content: "";
	background-color: var(--color);
	width: 1em;
	min-width: 1em;
	height: 1em;
	margin-right: 1em;
}

.item h3 button {
	margin-left: auto;
	padding: 10px;
	white-space: nowrap;
}

.demogrid {
	position: fixed;
	top: 0;
	right: 0;
	display: grid;
	padding: 5px;
	grid-gap: var(--gridGap);
	grid-auto-rows: var(--gridUnitSize);
	grid-auto-columns: var(--gridUnitSize);
	grid-gap: 5px;
	grid-auto-rows: minmax(40px, 1fr);
	grid-auto-columns: minmax(40px, 1fr);
	box-sizing: border-box;
	background: rgba(255,255,255,0.25);
	max-width: 100%;
	overflow: auto;
	resize: both;
	z-index: 999;
	opacity: 0.5;
}

.demoitem {
	background-color: rgba(0,0,255,0.125);
	border: 1px solid white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.demoitem.focused {
	border-color:black;
}

/* .item:focus-within {
	border: 4px solid rgba(255,0,0,0.125);
	padding: 10px;
	border-radius: 4px;
} */

.linkselector:before {
	width: 16px;
	height: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 75%;
	content: attr(data-index);
	background-color:var(--color);
	color: black;
	margin-right: 10px;
	position: relative;
	top: -2px;
}