nav.tapestrynav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: var(--navWidth);
	min-width: var(--navWidth);
  padding: var(--navGap);
	background: var(--background-body);
	z-index: 2;
	border-top: 1px solid var(--borderColor);
	border-right: 1px solid var(--borderColor);
	border-top-right-radius: 10px;
	top: 50%;
	transform: translateX(-100%);
	transition: 0.5s;
}

nav.tapestrynav > h2 {
	transform: rotate(90deg);
	position: absolute;
	right: calc(-50% - 8px);
	top: 50%;
	border-top: 1px solid var(--borderColor);
	border-right: 1px solid var(--borderColor);
	border-left: 1px solid var(--borderColor);
	border-top-right-radius: 10px;
	padding: 2px 20px 1px 20px;
	border-top-left-radius: 10px;
	background: var(--background-body);
	user-select: none;
	cursor: pointer;
}


nav.tapestrynav ul {
	margin: 0;
	padding: 0;
}

nav.tapestrynav li {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	list-style-type: none;
}


nav.tapestrynav > div {
	/* position: sticky;
	top: 20px; */
}


@media (max-width: 1023px) {

	nav.tapestrynav {
		padding-right: 0;
	}

	nav.tapestrynav li {
		white-space: initial;
	}

	
	
}
