.tapestrypage, .makerpage {
  display: flex;
}

.tapestrypage main {
	width: 100vw;
	/* height: calc(100vh - calc(var(--outsideMargin) * 2)); */
  flex: 1;
	z-index: 1;
}

.tapestrypage main.iframe {
	--headerHeight: 40px;
}


.tapestrypage .viewport {
	position: fixed;
	top: var(--headerHeight);
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
	background-size: cover !important;
	cursor: grab;
}

.tapestrypage .shareicon {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

.tapestrypage .fullscreen-enabled {
	--headerHeight: 0px;
}

/* .iframe .commentdrawer {
	display: none;
} */

.fullscreen-enabled .commentdrawer {
	top: 0;
	height: 100vh;
}

.fullscreen-enabled .commentdrawer h2 {
	top: 100px;
}

.tapestrypage .viewport:focus, .tapestrypage .viewport:focus-visible {
	outline: none;
	border: none;
}

.scroller {
	box-sizing: border-box;
	min-height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	padding-right: var(--navGap);
	padding-bottom: var(--navGap);
	padding-left: var(--gridGap);
	padding-top: var(--gridGap);
	margin-right: var(--navGap);
}

.scroller > div:not(.react-transform-wrapper,.tools,.panbuttons) {
	z-index: -1 !important;
}

.tapestrypage h1 {
	background-color: var(--background-body);
	height: var(--headerHeight);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 28px;
	border-bottom:1px solid black;
}

.tapestrypage h1.iframe {
	background-color: #fff;
	color: #333;
	font-size: 24px;
	padding: 0 10px;
}

.tapestrypage h1.iframe span {
	margin-right: 100px;
}

.tapestrypage h2 {
	margin-top: 0;
}

.tapestrypage > main  details {
	margin: var(--outsideMargin);

}

.tapestrypage > main summary {
	font-weight: bold;
	user-select: none;
}


.tapestryGrid {
	display: grid;
	grid-gap: var(--gridGap);
	grid-auto-rows: var(--gridUnitSize);
	grid-auto-columns: var(--gridUnitSize);
	box-sizing: border-box;
}

.tapestryGrid:focus-visible {
	outline: none;
	border: none;
}

.tapestryItem {
	box-sizing: border-box;
	border-radius: var(--borderRadius);
	position: relative;
	cursor: pointer;
}

.tapestryItem.link {
	cursor: pointer;
}

.frame {
	border: 1px solid var(--borderColor);
	box-sizing: border-box;
	border-radius: var(--borderRadius);
}

.tapestryframe iframe {
	width: 100%;
	height: 100%;
}

.tapestryItem .fullscreen-enabled .frame {
	border: none;
	border-radius: 0;
}


.tapestryItem.focused {
	box-shadow: 0 0 20px var(--focusColor);
}

.tapestryItem > .fullscreen {
	height: 100%;
	position: relative;
	z-index:9;
}

.tapestryItem > div > div:not(.tapestryDetails) {
	height: 100%;
	/* height: calc(100% - var(--headerHeight)); */
	box-sizing: border-box;
}


.tapestryTapestryItem  {
	--iconColor: var(--links)
}

.tapestryItem .windowicon {
	position: absolute;
	top: 6px;
	right: 76px;
	width: 28px; 
	height: 28px;
	color: var(--iconColor);
	transition: 0.25s;
	z-index: 10;
}

.tapestryItem .windowicon.notapestryicon {
	right: 36px;
}

/* .tapestryItem .windowicon:hover {
	color: var(--focusColor);
} */

.tapestryItem:hover {
	--iconColor: var(--focusColor);
}

.tapestryItem .fullscreenicon {
	position: absolute;
	top: 6px;
	right: 44px;
	height: 24px;
	width: 24px;
	color: var(--iconColor);
	transition: 0.25s;
	z-index: 3;
}

.tapestryItem .fullscreenicon.notapestryicon {
	right: 8px;
}

/* .tapestryItem .fullscreenicon:hover {
	color: var(--focusColor);
} */

.tapestryItem img.thumbnail {
	cursor: pointer;
	object-fit: contain;
	object-position: top;
	width: 100%;
	height: calc(100% - calc(var(--itemHeaderHeight) - var(--textPadding)));
}

.tapestryItemHead {
	box-sizing: border-box;
	height: calc(var(--itemHeaderHeight) - var(--textPadding));
	margin: 0;
	margin-bottom: calc(var(--fontSize) / 2);
	padding: 0 var(--textPadding);
	display: inline-flex;
	background-color: var(--headerBackground);
	color: var(--headerColor);
	width: 100%;
	align-items: center;
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
	cursor: grab;
}

.textframe {
	box-sizing: border-box;
	height: 100%;
	overflow-y: hidden;
	padding-bottom: var(--textPadding);
	background-color: var(--textFrameBackground);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	--textPadding: 12px;
}

.textframe.notitle, .audioframe.notitle {
		--itemHeaderHeight: 0px;
}


.textframe > div {
	box-sizing: border-box;
	height: calc(100% - var(--itemHeaderHeight));
	padding:  0 var(--textPadding) var(--textPadding) var(--textPadding);
	width: 100%;
	overflow-y: auto;
	color: var(--textFrameColor);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	user-select: initial !important;
}

.textframe > div:first-child {
	padding-top: var(--textPadding);
}

.textframe > div h1, .textframe > div h2, .textframe > div h3 {
	height: initial;
	margin: calc(var(--fontSize) / 2) 0;
	color: var(--black);
	display: block;
	padding: 0;
}

.textframe > div h1:first-child, .textframe > div h2:first-child, .textframe > div h3:first-child {
	margin-top: 0;
}

.textframe > div h1 strong, .textframe > div h2 strong, .textframe > div h3 strong {
	font-weight: normal;
	color: var(--black);
}

.textframe > div p {
	margin-bottom: calc(var(--fontSize) / 2);
}

.textframe > div a {
	color: navy;
}

.textframe > div p strong {
	color: var(--black);
}

.fullscreen-enabled .textframe div {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.tapestrylinkframe {
	color: var(--tapestryLinkFrameColor);
	background-color: var(--tapestryLinkFrameBackground);
	height: 100%;
	position: relative;
	z-index: 2;
	border: none;
}
/* .tapestrylinkframe a:before {
	position: absolute;
	content: "";
	background-color: gray;
	width: 100%;
	height: 100%;
	left: calc(var(--gridGap) / 2);
	top: calc(var(--gridGap) /2);
	z-index: 2;
} */

.tapestrylinkframe a {
	display: block;
	height: 100%;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--tapestryLinkFrameColor);
	font-weight: bold;
	font-size: 150%;
	box-sizing: border-box;
	padding: 5%;
	text-align: center;
	box-shadow: 50px 50px 0 gray;
}

.bookframe .tapestryItemHead, .audioframe .tapestryItemHead, .imageframe .tapestryItemHead, .videoframe .tapestryItemHead,  .webframe .tapestryItemHead {
	margin-bottom: 0;
}

.bookframe iframe, .imageframe iframe, .videoframe iframe, .webframe > div, .webframe iframe {
	box-sizing: border-box;
	height: calc(100% - calc(var(--itemHeaderHeight) - var(--textPadding)));
	width: calc(100% - 2px);
	border: none;
}

.bookframe.notitle iframe, .imageframe.notitle iframe, .videoframe.notitle iframe, .webframe.notitle iframe {
	height: 100%;
}
.webframe > div {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.webframe > div img {
	position: absolute;
}

.webframe  iframe {
	z-index: 2;
	position: absolute; 
	top: calc(var(--itemHeaderHeight) - var(--textPadding));
}

.webframe.notitle iframe {
	top: 0;
}

.webframe > div.waybackslider {
	position: absolute;
	bottom: 0;
	z-index: 9;
	height: 50px;
	background: var(--headerBackground);
	color: var(--headerColor);
	user-select: initial !important;
}

.webframe > div.waybackslider select {
	display: inline-block;
}

.audioframe > div {
	box-sizing: border-box;
	height: calc(100% - calc(var(--itemHeaderHeight) - var(--textPadding)));
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
}

.audioframe > div > iframe {
	border: none;
}

.tapestryIcon {
	position: absolute;
	right: 8px;
	top: 8px;
	color: var(--iconColor);
	border: 3px solid var(--iconColor);
	border-radius: 100%;
	display: inline-flex;
	width: 20px;
	height: 20px;
	align-items: center;
	justify-content: center;
	transition: 0.25s;
	font-weight: bold;
	user-select: none;
	z-index: 3;
}

.hidetitle  {
	--iconColor: var(--textFrameColor);
}

.tapestryIcon:hover, .tapestryIcon.on {
	--iconColor: var(--focusColor);
	text-decoration: none;
}

.tapestryDetails {
	z-index:999;
	position: absolute;
	right: -110px;
	width: 220px;
	top: 36px;
	border: 2px solid white;
	background-color: var(--textFrameColor);
	padding: 8px;
	font-size: 80%;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
	border-radius: 4px;
}

.tapestryDetails h3, p {
	margin: 0;
}



@media (max-width: 1023px) {

	.tapestrypage {
		flex-direction: column;
	}

	.tapestrypage > main {
		border-left: none;
		padding-left: 0;
		border-top: solid 1px var(--borderColor);
		margin-top: 20px;
		padding-top: 10px;
	}

	.tapestrypage > main.iframe {
		margin: 0;
		padding: 0;
		border: none;
	}

	.tapestrypage > main > div > h1 {
		flex-direction: column;
	}
	
}

.tools {
	position: fixed;
	bottom: 0;
	right: 10px;
	transition: var(--drawerTransition);
}

.tools button {
	padding: 10px;
	min-width: 38px;
	border-radius: 19px;
	transition: 0.25s;
}

.tools button:focus {
	box-shadow: none;
}

.tools button.disabled, .tools button.disabled:hover {
	color: gray;
}

.tools button:hover {
	color: var(--focusColor);
}

nav.commentdrawer {
	box-sizing: border-box;
	position: fixed;
	right: 0;
	top: var(--headerHeight);
	width: var(--commentWidth);
	min-width: var(--commentWidth);
  padding: 0 0 var(--commentGap) var(--commentGap);
	background: var(--background-body);
	z-index: 2;
	border-left: 1px solid var(--borderColor);
	transform: translateX(-100%);
	transition: var(--drawerTransition);;
	box-shadow: 5px -5px 5px rgba(0,0,0,0.125);
	height: calc(100vh - var(--headerHeight));
}

nav.commentdrawer > h2 {
	transform: rotate(-90deg);
	position: absolute;
	left: -105px;
	top: calc(2 * var(--headerHeight));
	border-top: 1px solid var(--borderColor);
	border-right: 1px solid var(--borderColor);
	border-left: 1px solid var(--borderColor);
	border-top-right-radius: 10px;
	padding: 2px var(--commentGap) 1px var(--commentGap);
	border-top-left-radius: 10px;
	background: var(--background-body);
	user-select: none;
	cursor: pointer;
}

nav.commentdrawer > h3 {
	margin: 0 0 10px 0;
	font-size: 16px;
}

nav.commentdrawer > div {
	max-height: calc(100% - 75px);
	min-height: calc(100% - 75px);
	overflow-y: auto;
	padding-right: var(--commentGap);
	display: flex;
	flex-direction: column;
}

nav.commentdrawer > div > button, nav.commentdrawer > div > form {
	margin-top: auto;
}

.comment {
	padding-bottom: calc(var(--commentGap) / 2);;
	margin-bottom: calc(var(--commentGap) / 2);;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	font-size: 14px;
}

.comment h3 {
	margin: 0;
}

.comment h4 {
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

.comment p {
	margin: 0;
}

.loadingmessage {
	text-align: center;
	font-size: 200%;
	margin:  100px auto;
}

/* pan buttons */

.panbuttons {
	position: fixed;
	left: 10px;
	bottom: 0;
	display: grid;
}

.panbuttons > button {
	z-index:1 !important;
	padding: 10px;
	min-width: 38px;
	border-radius: 19px;
	transition: 0.25s;
}

.panbuttons .up, .panbuttons .down {
	grid-column: 2;
}

.panbuttons .left {
	grid-column: 1;
}

.panbuttons .right {
	grid-column: 3;
}

.panbuttons .fullscreen {
	grid-column: 2;
	grid-row: 2;
}

.panbuttons button:focus {
	box-shadow: none;
}

.panbuttons button.disabled, .panbuttons button.disabled:hover {
	color: gray;
}

.panbuttons button:hover {
	color: var(--focusColor);
}
